body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
.dark-mode {
    background-color: rgb(22, 20, 20);
    color: white;
}


.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:lightgray;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: darkgray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: black;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  .slider:after
  {
   content:'Dark MODE';
   color: rgb(0, 0, 0);
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 60%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'Light MODE';
    left:40%;
    color:white;
  }    