.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 700px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#00020c),
    to(#00090fe7),
    color-stop(.6,#464646));
}

/*
 *  STYLE 2
 */

 #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0f0033;
}

/*
 *  STYLE 3
 */

 #style-3::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 #style-3::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-3::-webkit-scrollbar-thumb
 {
     background-color: rgb(25, 0, 32);	
     background-image: -webkit-linear-gradient(45deg,
                                               rgba(255, 255, 255, .2) 25%,
                                               transparent 25%,
                                               transparent 50%,
                                               rgba(255, 255, 255, .2) 50%,
                                               rgba(255, 255, 255, .2) 75%,
                                               transparent 75%,
                                               transparent)
}

/*
 *  STYLE 4
 */

 #style-4::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #464646;
     background-image: -webkit-linear-gradient(#e40303,#ff8c00,#ffed00, #008026, #004dff,#750787);
 }


